<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCY8R4vqzxrbo5EZxM5g-qQ99-gyLrz_4&callback=initMap&libraries=&v=weekly"></script>
    <title>{{title}}</title>
    <script>
         function init() {
     
    var mapOptions = {
                        zoom: 18, // 지도를 띄웠을 때의 줌 크기
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
     
     
    var map = new google.maps.Map(document.getElementById("map-canvas"), // div의 id과 값이 같아야 함. "map-canvas"
                                mapOptions);
     
    var size_x = 40; // 마커로 사용할 이미지의 가로 크기
    var size_y = 40; // 마커로 사용할 이미지의 세로 크기
 
    // 마커로 사용할 이미지 주소
    var image = new google.maps.MarkerImage(  req.params.name,
                                                new google.maps.Size(size_x, size_y),
                                                '',
                                                '',
                                                new google.maps.Size(size_x, size_y));
     
    // Geocoding *****************************************************
    var address = req.params.name; // DB에서 주소 가져와서 검색하거나 왼쪽과 같이 주소를 바로 코딩.
    var marker = null;
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
                            map: map,
                            icon: image, // 마커로 사용할 이미지(변수)
                            title: req.params.name, // 마커에 마우스 포인트를 갖다댔을 때 뜨는 타이틀
                            position: results[0].geometry.location
                        });

            var content = req.params.name; // 말풍선 안에 들어갈 내용
         

            var infowindow = new google.maps.InfoWindow({ content: content});
            google.maps.event.addListener(marker, "click", function() {infowindow.open(map,marker);});
        } else {
            alert("Geocode was not successful for the following reason: " + status);
        }
    });
  
     
}
google.maps.event.addDomListener(window, 'load', initialize);
 </script>
</head>
<body>
  
    <header>
        <div class="m_titdiv">
        <h3 class="m_tit">COVID-19 Current Status</h3>
        </div>
    <div class="menubar">
    <nav>
        <ul>
    
            <li><a href="/">HOME</a></li>
            <li><a href="/world">Current Status</a></li>
            <li><a href="/">How to win</a></li>
            <li><a href="/">Blocked Border</a></li>
        </ul>
    </nav>
    </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <ul>
            <img src="/img/brightGlassLogo.png" alt="logo" >
        <p>We are "Bright Glass".</p>
        <p><a href="mailto:suhhee.kim.phoebe@gmail.com">Email us!</a></p>
        <p>Made by: <a href="https://github.com/suhhee1011">Suhhee Kim</a></p>
        <p>Designed by: <a href="https://github.com/suhhee1011">Yuli Kim</a></p>
       </ul> 
    </footer>
</body>
</html>