<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <div class="m_titdiv">
        <h3 class="m_tit">COVID-19 Current Status</h3>
        </div>
    <div class="menubar">
    <nav>
        <ul>
    
            <li><a href="/">HOME</a></li>
            <li><a href="/world">Current Status</a></li>
            <li><a href="/">How to win</a></li>
            <li><a href="/">Blocked Border</a></li>
        </ul>
    </nav>
    </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <ul>
            <img src="/img/brightGlassLogo.png" alt="logo" >
        <p>We are "Bright Glass".<img src="logo" alt=""></p>
        <p><a href="mailto:suhhee.kim.phoebe@gmail.com">Email us!</a></p>
        <p>Made by: <a href="https://github.com/suhhee1011">Suhhee Kim</a></p>
        <p>Designed by: <a href="https://github.com/suhhee1011">Yuli Kim</a></p>
       </ul> 
    </footer>
</body>
</html>