<div class="country">
    <div id="countryPic">
     	
<div id="map-canvas" style="width: 100%; height: 340px" title="도서관 위치입니다."></div>

    </div>
 
        <h3 class="s_tit">{{countryarr.countryName}}</h3>
        <ul class="worldstat">
            
            <li>{{countryarr.confirmed_cases}}</li>
            <li>+{{countryarr.new_confirmed_cases}}</li>
            <li>{{countryarr.total_deaths}}</li>
        </ul>
    </div>


</div>