<ol>
    <br>
    <h2>How to Win Covid-19</h2>
    <li>&nbsp;Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water.</li>
    <li>&nbsp;Maintain at least 1 metre (3 feet) distance between yourself and others.</li>
    <li>&nbsp;Avoid going to crowded places.</li>
    <li>&nbsp;Avoid touching eyes, nose and mouth. </li>
    <li>&nbsp;Make sure you, and the people around you, follow good respiratory hygiene. </li>
    <li>&nbsp;Stay home and self-isolate even with minor symptoms such as cough, headache, mild fever, until you recover.</li>
    <li>&nbsp;If you have a fever, cough and difficulty breathing, seek medical attention, but call by telephone in advance if possible and follow the directions of your local health authority. </li>
    <li>&nbsp;Keep up to date on the latest information from trusted sources, such as WHO or your local and national health authorities.</li>

</ol>